button {
 background-color: rgb(3, 156, 115);
 padding: 30px 120px;
 font-size: 23px;
 font-family: 'Courier New', Courier, monospace;
 font-weight: 800;
 color: rgb(255, 255, 255);
 border: none;
 border-radius: 30px;
 
} 
button:hover {
  cursor: pointer;
  background-color: rgba(59, 154, 128, 0.363);
}

.btn-container{
  display: flex;
  justify-content: center;
  align-items: center; 
}

