.station-4{
  height: 120px;
  width: 260px; 
}

.station-6{
  height: 180px;
  width: 100px;
}
.station-7{
  height: 180px;
  width: 100px;
}

.station-5{
  height: 180px;
  width: 100px;
}
.station-8{
  height: 180px;
  width: 100px;
}

.station-3{
  height: 120px;
  width: 450px;
}
.station-2{
  height: 120px;
  width: 450px;
}

.station-1{
  height: 120px;
  width: 450px;
}

.station-9{
  height: 120px;
  width: 260px;
}
